
{% extends "layout.html" %}

{% block content %}

	<p>This is a website concerning the global manufacturingcompanies which are contributing a significant amount of pollution to their respective countries.Morevoer, they are aslo contributing in global climate change phenomenon and  are in an immediate need of rectifiation.</p>
		<p>We are in an era of darkness and must take some action to avoid this coming global change. According to some studies the world average temperature is to be risen by 3 degree in the coming decade which is a lot to take in.</p>

{% endblock content %}
