
{% extends "layout.html" %}

{% block content %}

{% for post in posts %}
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#">{{ post.country }}</a>
	      <small class="text-muted">{{ post.last_updated }}</small>
	    </div>
	    <h2><a class="article-title" href="#">{{ post.NAME }}</a></h2>
	    <p class="article-content">{{ post.pollution_level }}</p>
	  </div>
	</article>
{% endfor %}

{% endblock content %}

